body {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary-color: #F0D082;
    --secondary-color: #F1A113;
    --tertiary-color: #C96500;
    --text-color: #7C8457;
}

.navbar, .hero-body, .card {
    background-color: var(--primary-color);
}

.navbar-item, .navbar-start h1{
    color: var(--text-color);
}

.custom-title {
    font-size: 4.5rem; 
    color:  var(--tertiary-color);
}

.custom-subtitle {
    font-size: 3rem; 
    color:  var(--tertiary-color);
}

.btn {
    background-color: var(--tertiary-color); 
    color: white; 
    border: none; 
}

.btn:hover{
    background-color: #a75300;
}

.button-tertiary-outlined.is-outlined {
    border-color: var(--tertiary-color);
    color: var(--tertiary-color); 
    font-size: 1.25rem;
}
