body {
    font-family: 'Montserrat', sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: white;
  }
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #F0D082;
    --secondary-color: #F1A113;
    --tertiary-color: #C96500;
    --text-color: #7C8457;
    --text-color-secondary: #4A4A4A;
}

.color-tertiary {
    color:  var(--tertiary-color);
}

.color-text-secondary {
    color:  var(--text-color-secondary);
}

.has-background-color {
    background-color: white;
}

.bg-body{
    background-color: var(--primary-color);
}

.bg-body-wave{
    background-color: #eac371;
    margin-top: -5px;
}

.navbar-item, .navbar-start h1{
    color: var(--text-color);
    font-weight: 500;
}

.btn {
    background-color: var(--tertiary-color); 
    border: 1px solid var(--tertiary-color);
    color: white; 
}

.btn:hover{
    background-color: #a75300;
}

.button-tertiary-outlined.is-outlined {
    border-color: var(--tertiary-color);
    color: var(--tertiary-color); 
}

.same-width {
    min-width: 200px;
    text-align: center;
}

.card-image {
    position: relative;
}

.card-image .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1rem;
    font-weight: 500;
    z-index: 1;
    white-space: nowrap;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.wave-image img {
    display: block;
    width: 100%;
}


.navbar-item {
    background-color: transparent !important; 
}

.navbar-item:hover {
    background-color: transparent !important;
    color: var(--tertiary-color); 
}


.list-icon {
    font-size: 0.5rem;
    margin-right: 5px; 
}

.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    border-radius: 50%;
    width: 50px; 
    height: 50px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 999;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.whatsapp-icon:hover {
    transform: scale(1.1);
}

.navbar-menu.is-active {
    box-shadow: none; 
}
